@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
  /* COLORS */
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --transparent: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);

  /* FONTS */
  --size: 15px;
  --weight-1: 400;
  --weight-2: 700;
  --ff1: 'Lexend Deca', sans-serif;
  --ff2: 'Big Shoulders Display', cursive;

  /* BREAK POINTS */
  --mobile: 375px;
  --desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container {
  width: 60em;
  height: 30em;
  display: flex;
}

.columns {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 2em;
  margin-bottom: 30px;
}

h2 {
  font-family: var(--ff2);
  font-size: 3rem;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.text-wrapper {
  width: 95%;
}

.text-wrapper p {
  font-family: var(--ff1);
  color: #fff;
  line-height: 160%;
  font-size: var(--size);
  text-align: center;
}

.buttons {
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 11em;
  height: 3.5em;
  font-family: var(--ff1);
  font-size: var(--size);
  letter-spacing: 2px;
  position: absolute;
  z-index: 5;
  bottom: 3.5em;
  cursor: pointer;
  transition: 0.4s;
}

.col-1 {
  background-color: var(--orange);
  border-radius: 10px 0 0 10px;
}
.btn-1 {
  color: var(--orange);
}
.col-2 {
  background-color: var(--dark-cyan);
}
.btn-2 {
  color: var(--dark-cyan);
}
.col-3 {
  background-color: var(--cyan);
  border-radius: 0 10px 10px 0;
}
.btn-3 {
  color: var(--cyan);
}
.btn-1:hover {
  background-color: var(--orange);
  outline: 3px solid #fff;
  color: #fff;
}
.btn-2:hover {
  background-color: var(--dark-cyan);
  outline: 3px solid #fff;
  color: #fff;
}
.btn-3:hover {
  background-color: var(--cyan);
  outline: 3px solid #fff;
  color: #fff;
}

/* ##### MODALS ##### */
.overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  transition: 0.4s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  background-color: #fff;
  width: 50em;
  height: 25em;
  padding: 2em;
  border-radius: 15px;
  box-shadow: black 0px 0px 20px;
  transition: 0.6s;
  transform: scale(0) translate(-50%, -50%);
}

.modal-title {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
  font-family: var(--ff2);
  font-size: 2.3rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: rgb(85, 85, 85);
  margin-left: 2em;
}

.modal-title i {
  cursor: pointer;
}

.modal-txt {
  font-family: var(--ff1);
  color: rgb(85, 85, 85);
  line-height: 150%;
  width: 80%;
  margin: 2rem auto;
}

.overlay-active {
  transform: scale(1);
}

.modal-active {
  transform: scale(1) translate(-50%, -50%);
}

/* ################################ Mobile design ################################ */
@media screen and (max-width: 1100px) {
  .container {
    width: 50em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  body {
    height: auto;
    padding: 2em 0;
  }

  .container {
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: auto;
  }

  .columns {
    height: 23em;
  }

  .logo {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .buttons {
    bottom: 2em;
  }
  .col-1 {
    border-radius: 10px 10px 0 0;
  }
  .col-3 {
    border-radius: 0 0 10px 10px;
  }
}
